html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color:#F7F7ED;
}

a {
  color: #36415D;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  color: white;
  text-align: center;
  font-size: 0.75rem;
  background-color: #71afd2;
  padding: 1rem 2rem;
}

nav{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #71afd2;
  padding:1rem 2rem;
}
