@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@1&display=swap');

.container {
    padding: 0 2rem;
    font-family: 'Archivo', sans-serif;
  }
  
.title {
    margin: 0;
    line-height: 1;
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 0;
    color: rgb(108, 191, 232);
  }

.subTitle{
    font-size: 1.75rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: #36415D;
}  

.paragraph{
    font-size: 1rem;
    font-style: normal;
    text-align: center;
    line-height: 1.8;
    color: #36415D;
}

.weDo{
    text-align: center;
    padding-top:1rem;
    padding-bottom: 2rem;
    color: #36415D;
}

.weDoTitle{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    color: #36415D;
}

.weDoPara{
text-align: left;
}

@media screen and (min-width: 780px) {
    .container {
        padding: 0 4rem;
    }
    .title {
        font-size: 3.5rem;
    }
    
    .subTitle{
        font-size: 2.25rem;
    }  
    
    .paragraph{
        font-size: 1.5rem;
    }
    
    .weDoTitle{
        font-size: 1.75rem;

    }
    
    .weDoPara{
    font-size: 1.15rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 0 6rem;
    }
}