@import url('https://fonts.googleapis.com/css2?family=Archivo:ital@1&display=swap');


.container {
    padding: 0 3.5rem;
    height: 100vh;
    font-family: 'Archivo', sans-serif;
  }
  

.h1{
    color: rgb(108, 191, 232);
    text-align: center;
}

.name{
    text-align: center;
    font-size: 1.35rem;
    font-weight: bold;
    padding-top: 2rem;
}

.email{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.15rem;
}

.desc{
    padding-top: 1rem;
}

.descTitle{
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
}

.body{
    padding-top: 1rem;
    font-size: 1.1rem;
    display: inline-block;
}

.back{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    text-decoration: underline;
    color: rgb(61, 170, 213);
    padding-top: 1rem;
}

@media screen and (min-width: 600px) {
    .container {
        padding: 0 8rem;
    }
}

@media screen and (min-width: 800px) {
    .container {
        padding: 0 12rem;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        padding: 0 15rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0 17rem;
    }
}